@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _UserManager

<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="gramentheme">
    <meta name="description" content="Bookle - Book Store WooCommerce Html Template ">
    <!-- ======== Page title ============ -->
    <title>Bookle - Book Store WooCommerce Html Template</title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="~/Bookle/main-file/assets/img/favicon.png">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/meanmenu.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/nice-select.css">
    <!--<< Icomoon.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/icomoon.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="~/Bookle/main-file/assets/css/main.css">
</head>

<body>
    <!-- Cursor follower -->
    <div class="cursor-follower"></div>

    <!-- Preloader start -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
                <span data-text-preloader="B" class="letters-loading">
                    B
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
                <span data-text-preloader="K" class="letters-loading">
                    K
                </span>
                <span data-text-preloader="L" class="letters-loading">
                    L
                </span>
                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>
            </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back To Top start -->
    <button id="back-top" class="back-to-top">
        <i class="fa-solid fa-chevron-up"></i>
    </button>

    <!-- Offcanvas Area start  -->
    <div class="fix-area">
        <div class="offcanvas__info">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/Bookle/main-file/assets/img/logo/black-logo.svg" alt="logo-img" >
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <p class="text d-none d-xl-block">
                        Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a
                        feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                    </p>
                    <div class="mobile-menu fix mb-3"></div>
                    <div class="offcanvas__contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a target="_blank" href="index.html">Main Street, Melbourne, Australia</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-envelope"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="mailto:info@example.com">
                                        <span class="mailto:info@example.com">info@example.com</span>
                                    </a>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="fal fa-clock"></i>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="offcanvas__contact-icon mr-15">
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="offcanvas__contact-text">
                                    <a href="tel:+11002345909">+11002345909</a>
                                </div>
                            </li>
                        </ul>
                        <div class="social-icon d-flex align-items-center">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <div class="header-button mt-4">
                                <a asp-action="Logout" asp-controller="Account" class="theme-btn text-center">
                                    Logout
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="header-button mt-4">
                                <a asp-action="Login" asp-controller="Account" class="theme-btn text-center">
                                    Login
                                </a>
                            </div>
                            <div class="header-button mt-4">
                                <a asp-action="Register" asp-controller="Account" class="theme-btn text-center">
                                    Register
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay"></div>

    <div class="header-top-1">
        <div class="container">
            <div class="header-top-wrapper">
                <ul class="contact-list">
                    <li></li>
                    <li>
                        <i class="fa-regular fa-phone"></i>
                        <a href="tel:+20866660112">+208-6666-0112</a>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li></li>
                </ul>
                @{
                    var currentUser = await _UserManager.GetUserAsync(User); // Retrieve the user object
                }

                @if (_signInManager.IsSignedIn(User))
                {
                    if (currentUser != null && await _UserManager.IsInRoleAsync(currentUser, "User"))
                    {
                        <ul class="list">
                            <li>
                                <i class="fa-light fa-sign-out"></i>
                                <button >
                                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                                </button>
                            </li>
                        </ul>
                    }
                    else if (currentUser != null && await _UserManager.IsInRoleAsync(currentUser, "Publisher"))
                    {
                        <ul class="list">
                            <li>
                                <i class="fa-light fa-user"></i>
                                <button>
                                    <a asp-action="Index" asp-controller="Publishers">Profile</a>
                                </button>
                            </li>
                            <li>
                                <i class="fa-light fa-sign-out"></i>
                                <button >
                                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                                </button>
                            </li>
                            
                        </ul>
                    }
                    else if (currentUser != null && await _UserManager.IsInRoleAsync(currentUser, "Admin"))
                    {
                        <ul class="list">
                            <li>
                                <i class="fa-light fa-dashboard"></i>
                                <button>
                                    <a asp-action="Index" asp-controller="Home" asp-area="Dashboard">Dashboard</a>
                                </button>
                            </li>
                            <li>
                                <i class="fa-light fa-sign-out"></i>
                                <button>
                                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                                </button>
                            </li>

                        </ul>
                    }
                }
                else
                {
                    <ul class="list">
                        <li>
                            <i class="fa-light fa-user"></i>
                            <button>
                                <a asp-action="Login" asp-controller="Account">Login</a>
                            </button>
                        </li>
                        <li>
                            <i class="fa-light fa-sign-in"></i>
                            <button>
                                <a asp-action="Register" asp-controller="Account">Register</a>
                            </button>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </div>

    <!-- Sticky Header Section start  -->
    <header class="header-1 sticky-header">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                            <div class="header-left">
                                <div class="logo">
                                    <a asp-action="Index" asp-controller="Home" class="header-logo">
                                        <img src="~/Bookle/main-file/assets/img/logo/white-logo.svg" alt="logo-img" >
                                    </a>
                                </div>
                                <div class="mean__menu-wrapper">
                                    <div class="main-menu">
                                        <nav>
                                            <ul>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Home">
                                                        Home
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="AboutUs" asp-controller="Home">
                                                        About Us
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Blog" asp-controller="Home">
                                                        Blog
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Create" asp-controller="ContactUs">Contact</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Shop" asp-controller="Books">Shop</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                            <div class="header-right">
                                <div class="category-oneadjust gap-6 d-flex align-items-center">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-grid-2"></i>
                                    </div>
                                    <select name="cate" class="category">
                                        <option value="1">
                                            Category
                                        </option>
                                        <option value="1">
                                            Web Design
                                        </option>
                                        <option value="1">
                                            Web Development
                                        </option>
                                        <option value="1">
                                            Graphic Design
                                        </option>
                                        <option value="1">
                                            Softwer Eng
                                        </option>
                                    </select>
                                    <form action="#" class="search-toggle-box d-md-block">
                                        <div class="input-area">
                                            <input type="text" placeholder="Author">
                                            <button class="cmn-btn">
                                                <i class="far fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="menu-cart">
                                    @if (_signInManager.IsSignedIn(User))
                                    {
                                        if (currentUser != null && await _UserManager.IsInRoleAsync(currentUser, "User"))
                                        {
                                            @* <a asp-action="Details" asp-controller="Carts" class="cart-icon">
                                                <i class="fa-regular fa-heart"></i>
                                            </a> *@
                                            <a asp-action="Details" asp-controller="Carts" class="cart-icon">
                                                <i class="fa-regular fa-cart-shopping" ></i>
                                                <span class="cart-count">@ViewData["CartCount"]</span>
                                            </a>
                                        }
                                    }
                                    <div class="header-humbager ml-30">
                                        <a class="sidebar__toggle" href="javascript:void(0)">
                                            <div class="bar-icon-2">
                                                <img src="~/Bookle/main-file/assets/img/icon/icon-13.svg" alt="img" id="BookleLogo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Header Section start  -->
    <header class="header-1">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-10 col-xl-8 col-xxl-10">
                            <div class="header-left">
                                <div class="logo">
                                    <a asp-action="Index" asp-controller="Home" class="header-logo">
                                        <img src="~/Bookle/main-file/assets/img/logo/white-logo.svg" alt="logo-img">
                                    </a>
                                </div>
                                <div class="mean__menu-wrapper">
                                    <div class="main-menu">
                                        <nav id="mobile-menu">
                                            <ul>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li></li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Home">
                                                        Home
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="AboutUs" asp-controller="Home">
                                                        About Us
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Blog" asp-controller="Home">
                                                        Blog
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Create" asp-controller="ContactUs">Contact</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Shop" asp-controller="Books">Shop</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-2 col-xl-4 col-xxl-2">
                            <div class="header-right">
                                <div class="category-oneadjust gap-6 d-flex align-items-center">
                                    <div class="icon">
                                        <i class="fa-sharp fa-solid fa-grid-2"></i>
                                    </div>
                                    <select name="cate" class="category">
                                        <option value="1">
                                            Category
                                        </option>
                                        <option value="1">
                                            Web Design
                                        </option>
                                        <option value="1">
                                            Web Development
                                        </option>
                                        <option value="1">
                                            Graphic Design
                                        </option>
                                        <option value="1">
                                            Softwer Eng
                                        </option>
                                    </select>
                                    <form action="#" class="search-toggle-box d-md-block">
                                        <div class="input-area">
                                            <input type="text" placeholder="Author">
                                            <button class="cmn-btn">
                                                <i class="far fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="menu-cart">
                                    @if (_signInManager.IsSignedIn(User))
                                    {
                                        if (currentUser != null && await _UserManager.IsInRoleAsync(currentUser, "User"))
                                        {
                                            @* <a asp-action="Details" asp-controller="Carts" class="cart-icon">
                                                <i class="fa-regular fa-heart"></i>
                                            </a> *@
                                            <a asp-action="Details" asp-controller="Carts" class="cart-icon">
                                                <i class="fa-regular fa-cart-shopping"></i>
                                                <span class="cart-count">@ViewData["CartCount"]</span>
                                            </a>
                                        }
                                    }
                                        
                                    <div class="header-humbager ml-30">
                                        <a class="sidebar__toggle" href="javascript:void(0)">
                                            <div class="bar-icon-2">
                                                <img src="~/Bookle/main-file/assets/img/icon/icon-13.svg" alt="img">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

        @RenderBody()

    <!-- Footer Section start  -->
    <footer class="footer-section footer-bg">
        <div class="container">
            <div class="contact-info-area">
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".2s">
                    <div class="icon">
                        <i class="icon-icon-5"></i>
                    </div>
                    <div class="content">
                        <p>Call Us 7/24</p>
                        <h3>
                            <a href="tel:+2085550112">+208-555-0112</a>
                        </h3>
                    </div>
                </div>
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".4s">
                    <div class="icon">
                        <i class="icon-icon-6"></i>
                    </div>
                    <div class="content">
                        <p>Make a Quote</p>
                        <h3>
                            <a href="mailto:example@gmail.com">example@gmail.com</a>
                        </h3>
                    </div>
                </div>
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".6s">
                    <div class="icon">
                        <i class="icon-icon-7"></i>
                    </div>
                    <div class="content">
                        <p>Opening Hour</p>
                        <h3>
                            Sunday - Fri: 9 aM - 6 pM
                        </h3>
                    </div>
                </div>
                <div class="contact-info-items wow fadeInUp" data-wow-delay=".8s">
                    <div class="icon">
                        <i class="icon-icon-8"></i>
                    </div>
                    <div class="content">
                        <p>Location</p>
                        <h3>
                            4517 Washington ave.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widgets-wrapper">
            <div class="plane-shape float-bob-y">
                <img src="~/Bookle/main-file/assets/img/plane-shape.png" alt="img">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a asp-action="Index" asp-controller="Home">
                                    <img src="~/Bookle/main-file/assets/img/logo/white-logo.svg" alt="logo-img">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p>
                                    Phasellus ultricies aliquam volutpat ullamcorper laoreet neque, a lacinia curabitur
                                    lacinia mollis
                                </p>
                                <div class="social-icon d-flex align-items-center">
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Costumers Support</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a asp-action="Shop" asp-controller="Books">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Store List
                                    </a>
                                </li>
                                
                                <li>
                                    <a asp-action="Create" asp-controller="ContactUs">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Return Policy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".6s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Categories</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a href="shop.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Novel Books
                                    </a>
                                </li>
                                <li>
                                    <a href="shop.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Poetry Books
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Political Books
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        History Books
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Newsletter</h3>
                            </div>
                            <div class="footer-content">
                                <p>Sign up to searing weekly newsletter to get the latest updates.</p>
                                <div class="footer-input">
                                    <input type="email" id="email2" placeholder="Enter Email Address">
                                    <button class="newsletter-btn" type="submit">
                                        <i class="fa-regular fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-wrapper d-flex align-items-center justify-content-between">
                    <p class="wow fadeInLeft" data-wow-delay=".3s">
                        © All Copyright 2024 by <a asp-action="Index" asp-controller="Home">Bookle</a>
                    </p>
                    <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
                        <li>
                            <a >
                                <img src="~/Bookle/main-file/assets/img/visa-logo.png" alt="img">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="~/Bookle/main-file/assets/img/mastercard.png" alt="img">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="~/Bookle/main-file/assets/img/payoneer.png" alt="img">
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="~/Bookle/main-file/assets/img/affirm.png" alt="img">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--<< All JS Plugins >>-->
    <script src="~/Bookle/main-file/assets/js/jquery-3.7.1.min.js"></script>
    <!--<< Viewport Js >>-->
    <script src="~/Bookle/main-file/assets/js/viewport.jquery.js"></script>
    <!--<< Bootstrap Js >>-->
    <script src="~/Bookle/main-file/assets/js/bootstrap.bundle.min.js"></script>
    <!--<< Nice Select Js >>-->
    <script src="~/Bookle/main-file/assets/js/jquery.nice-select.min.js"></script>
    <!--<< Waypoints Js >>-->
    <script src="~/Bookle/main-file/assets/js/jquery.waypoints.js"></script>
    <!--<< Counterup Js >>-->
    <script src="~/Bookle/main-file/assets/js/jquery.counterup.min.js"></script>
    <!--<< Swiper Slider Js >>-->
    <script src="~/Bookle/main-file/assets/js/swiper-bundle.min.js"></script>
    <!--<< MeanMenu Js >>-->
    <script src="~/Bookle/main-file/assets/js/jquery.meanmenu.min.js"></script>
    <!--<< Magnific Popup Js >>-->
    <script src="~/Bookle/main-file/assets/js/jquery.magnific-popup.min.js"></script>
    <!--<< Wow Animation Js >>-->
    <script src="~/Bookle/main-file/assets/js/wow.min.js"></script>
    <!-- Gsap -->
    <script src="~/Bookle/main-file/assets/js/gsap.min.js"></script>
    <!--<< Main.js >>-->
    <script src="~/Bookle/main-file/assets/js/main.js"></script>
</body>

</html>